

@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";
/*@import url(
  http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all);*/


.recordHistory{
background-color: red !important;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;

  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTRsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
  /*src: local('Open Sans Light'), local('OpenSans-Light'), url("fonts/opensans-light-webfont.woff?#iefix") format('woff');
src: local('Open Sans Light'), local('OpenSans-Light'), url("fonts/opensans-light-webfont.eot?#iefix") format('embedded-opentype');
src: local('Open Sans Light'), local('OpenSans-Light'), url("fonts/opensans-light-webfont.svg") format('svg');
src: local('Open Sans Light'), local('OpenSans-Light'), url("fonts/OpenSans-Light.ttf") format('truetype');*/

}



.docCss
{
background:url("../../icons/testImg.jpg")  no-repeat no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hideAttach
{
display:none;
width:0px;
height:0px;
}

.showAttach
{
display:block;
width:400px!important;
height:400px!important;
}
.cr-error
{
width:400px!important;
height:20px!important;
text-align: center;
color:red;
background-color: transparent;
position: absolute;
bottom:70px !important;
font-family: Arial !important;
font-weight: 100;
font-size: 18px;
display: none;
}

.log-btn af|button {
    width: 300px !important;
    text-align: center;
    vertical-align: top;
    color: #2873cf !important;
    border: #2873cf 1.0px solid;

    font-weight: 100;
font-family: Arial !important;
}

.log-btn  af|button::link{
 color: White ;

 width: 380px !important;
    border: #2873cf 0.0px solid;
    background-color: #2873cf;;
height:35px;
   font-family: Arial !important;
    font-size: 30px;
    font-weight: 400 !important;
    text-align: center;
    line-height: .8em;
    
        -webkit-animation-name: example2; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: example2;
    animation-duration: 2s;
}

.log-btn af|button:hover::link {
    background-color: #2873cf;
    border: #2873cf 2.0px solid;
    color: White;
      font-size: 16px;
    font-weight: 400;
}

.login-bg
{

background:url("../../icons/Login_v15_2.jpg") no-repeat no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-pg
{

width:400px !important;
height:360px !important;
background-color:  rgb(  121, 171, 161  );
opacity: .2;
margin-left: calc(50% - 200px);
margin-top: 15%;
padding :10px;
border-radius: 15px;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 1.5s;
}

.loginPage{
background:url("../../icons/bg-login.jpg") no-repeat no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



  /*side*/ 
  .animate-menu-push {
    left: 0;
    position: relative;
    transition: all 0.3s ease;
}

.animate-menu-push.animate-menu-push-right {
    left: 200px;
}

.animate-menu-push.animate-menu-push-left {
    left: -200px;
}

.animate-menu {
    position: fixed;
    top: 0;
    width: 200px;
    height: 100%;
    transition: all 0.3s ease;
}

.animate-menu-left {
    left: -200px;
}

.animate-menu-left.animate-menu-open {
    left: 0;
}

.animate-menu-right {
    right: -200px;
}

.animate-menu-right.animate-menu-open {
    right: 0;
}

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-size: 14px;
     
}

.sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0;
}

.sidebar-menu > li > a {
    padding: 12px 5px 12px 15px;
    display: block;
    border-left: 3px solid transparent;
    color: #b8c7ce;
    
}

.sidebar-menu > li > a > .fa {
    width: 20px;
}

.sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
    color: #fff;
    background: #2C3542;
    border-left-color: rgb(40, 115, 207);
}

.sidebar-menu > li .label, .sidebar-menu > li .badge {
    margin-top: 3px;
    margin-right: 5px;
}

.sidebar-menu li.sidebar-header {
    padding: 10px 25px 10px 15px;
    font-family: "Open Sans",sans-serif;
font-style: normal;
font-weight: 300;
font-size:14px;
line-height: 15.4px;


 background-color: transparent;
  
    color: #708096;
    

}

.sidebar-menu li > a > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px;
}

.sidebar-menu li.active > a > .fa-angle-left {
    transform: rotate(-90deg);
}

.sidebar-menu li.active > .sidebar-submenu {
    display: block;
    
}

.sidebar-menu a {
    color: #b8c7ce;
    text-decoration: none;

   
}

.sidebar-menu .sidebar-submenu {
    display: none;
  
    list-style: none;
    padding-left: 0px;
    margin: 0 1px;
    background: transparent ;
  
  
}

.sidebar-menu .sidebar-submenu .sidebar-submenu {
    padding-left: 20px;
}

.sidebar-menu .sidebar-submenu > li > a {
    padding: 5px 5px 5px 35px;
    display: block;
    font-style: normal;
font-family: "Open Sans",sans-serif ;
font-weight: 300;
font-size:14px;
line-height: 19.99px;
margin-top: 1px;


    color: #b4bcc8;
    
}



.sidebar-submenu > li:hover > a, .sidebar-submenu > li.active > a {
    color: #fff;
    background: #3E4B5C;
  
}

.sidebar-menu .sidebar-submenu > li > a > .fa {
    width: 20px;
}

.sidebar-menu .sidebar-submenu > li > a > .fa-angle-left, .sidebar-menu .sidebar-submenu > li > a > .fa-angle-down {
    width: auto;
}

.sidebar-menu .sidebar-submenu > li.active > a, .sidebar-menu .sidebar-submenu > li > a:hover {
    color: #fff;
      
}

.sidebar-menu-rtl {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #222d32;
}

.sidebar-menu-rtl > li {
    position: relative;
    margin: 0;
    padding: 0;
      
}

.sidebar-menu-rtl > li > a {
    padding: 12px 15px 12px 5px;
    display: block;
    border-left: 3px solid transparent;
    color: #b8c7ce;
}

.sidebar-menu-rtl > li > a > .fa {
    width: 20px;
}

.sidebar-menu-rtl > li:hover > a, .sidebar-menu-rtl > li.active > a {
    color: #fff;
    background: #2C3542;
    border-left-color: #3c8dbc;
}

.sidebar-menu-rtl > li .label, .sidebar-menu-rtl > li .badge {
    margin-top: 3px;
    margin-right: 5px;
}

.sidebar-menu-rtl li.sidebar-header {
    padding: 10px 15px 10px 25px;
    font-size: 12px;
    color: #4b646f;
    background: #1a2226;
}

.sidebar-menu-rtl li > a > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px;
}

.sidebar-menu-rtl li.active > a > .fa-angle-left {
    transform: rotate(-90deg);
}

.sidebar-menu-rtl li.active > .sidebar-submenu {
    display: block;
}

.sidebar-menu-rtl a {
    color: #b8c7ce;
    text-decoration: none;
}

.sidebar-menu-rtl .sidebar-submenu {
    display: none; 
    list-style: none;
    padding-right: 5px;
    margin: 0 1px;
    background: transparent ;
}

.sidebar-menu-rtl .sidebar-submenu .sidebar-submenu {
    padding-right: 20px;
}

.sidebar-menu-rtl .sidebar-submenu > li > a {
    padding: 5px 15px 5px 5px;
    display: block;
    font-size: 14px;
    color: #8aa4af;
}

.sidebar-menu-rtl .sidebar-submenu > li > a > .fa {
    width: 20px;
}

.sidebar-menu-rtl .sidebar-submenu > li > a > .fa-angle-left, .sidebar-menu-rtl .sidebar-submenu > li > a > .fa-angle-down {
    width: auto;
}

.sidebar-menu-rtl .sidebar-submenu > li.active > a, .sidebar-menu-rtl .sidebar-submenu > li > a:hover {
    color: #fff;
}

.selectedxx {
   
   
    float: right;
    position: absolute;
    right: 0px;
    top: 8px;
    background: 0 0;
    width: 0px;
    height: 0px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #fff;
    
}




.xxli
{
  border-bottom:  rgb(61, 73, 87) 1px solid;
}


  
  /*end side*/ 
af|document {
background-color: White !important;
}
.icon_style
{

color:#606c7d;font-size:16px;position: relative;cursor: pointer;

}

.panel_box_card:hover
{
background-color:red;
}
.icon_style:hover
{

color:white;

}

.icon_style3
{

color:#606c7d;font-size:16px;position: relative;cursor: pointer;
cursor:pointer;
}

.icon_attach
{
color:#606c7d;font-size:16px;position: relative;cursor: pointer;
cursor:pointer;
}

.icon_attach:hover
{

color:rgb(40, 115, 207);

}

.icon_circle
{
color:#606c7d;font-size:22px;position: relative;cursor: pointer;
cursor:pointer;
background-color: Red;
border-radius: 50% 50% ;
}

.icon_circle:hover
{

color:rgb(40, 115, 207);

}

.icon_style3:hover
{

color:rgb(40, 115, 207);

}


.icon_style1
{

color:white;font-size:16px;position: relative;cursor: pointer;

}

.icon_style_header
{

color:#79869a; font-size:17px; position:relative;

}
.icon_style2
{

color:rgb(40, 115, 207) !important;
font-size:15px;position: relative;cursor: text;

}

.assettext
{
color: rgb(116, 48, 126);
font-family: "Open Sans",sans-serif !important;
font-weight: 600;
line-height: 18px;
font-size: 18px;
font-style: normal !important;
}
.datexx
{
 font-family: "Open Sans",sans-serif !important;
 color: rgb(51, 51, 51);
 font-style: normal;
 font-size: 12px;
 cursor: pointer;
 text-transform: uppercase;
 white-space: nowrap;
 margin-right: 5px;
}

.badge {
    font-size: 11px !important;
    font-weight: 300;
  
    color: #fff;
    padding: 1px 1px;
line-height: -2;
    border-radius: 50% !important;
    text-shadow: none !important;
    text-align: center;
    vertical-align: middle !important;
     font-family: "Open Sans",sans-serif;
    position: absolute;
    bottom: 10px;
    right: 7px;
    width:1.5em;height:1.5em;
    background-color: rgb(40, 115, 207)
}
  
.header_txt
{

    font-family: "Open Sans",sans-serif;


color: #c6cfda;
font-size: 13px;
font-weight: 300;
line-height: 20px;

}
  
.myLink af|button {
    width: 80px;
    text-align: center;
    vertical-align: top;
    color: rgb(40, 115, 207) !important;
    border: rgb(40, 115, 207) 1.0px solid;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
    font-weight: 100;
    font-family: sans-serif;
}

.myLink af|button::link{
 color: rgb(40, 115, 207) ;
    border: rgb(40, 115, 207) 0.0px solid;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.myLink af|button:hover::link {
    background-color: rgb(40, 115, 207);
    border: rgb(40, 115, 207) 2.0px solid;
    color: White;
      font-size: 16px;
    font-weight: 400;
}

 

.mcbb2 af|button {

    
       font-family: "Open Sans",sans-serif;
    text-align: center;
    vertical-align: middle;
 line-height: 20.16px;
    border: rgb(40, 115, 207) 0.0px solid;
   font-size: 14px;
    font-weight: 400;
  
 cursor: pointer;
 
}

.mcbb2 af|button::link {
   
    border: rgb(225, 229, 236) 0.0px solid;
    background-color: rgb(225, 229, 236);
        color:#636363;
 font-size: 14px;
    font-weight: 400;
  
  font-family: "Open Sans",sans-serif;
    min-width: 60px;
    height: 24px;
      line-height: 20.16px;
 
 
  cursor: pointer;
}

.mcbb2 af|button::link:hover
{
 opacity: .6;

   
}
.sideButton af|link {
    width: 100px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    color: white;
    border: #364150 0.0px solid;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-weight: 100;
    font-family: sans-serif;
}

.sideButton af|link::link {
    border: #364150 0.0px solid;
    background-color: #364150;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-family: sans-serif;
}

.sideButton af|link:hover::link {
    background-color: #364112;
    border: #364150 0.0px solid;
    color: #364150;
}








.myRoundButton af|button {
    width: 80px;
    text-align: center;
    vertical-align: top;
    color: Red;
     font-weight: 100;
    border-left-color: transparent;
     border-right-color: Red;
      border-bottom-color: Red;
       border-top-color: Red;
      
    font-family: sans-serif;
    border:  1.0px solid;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 15px;
}

.myRoundButton af|button::link {
font-family: sans-serif;
  border-right-color: transparent;
     border-left-color: rgb(40, 115, 207) ;
      border-bottom-color: rgb(40, 115, 207) ;
       border-top-color: rgb(40, 115, 207) ;
        color: Red;
    border: 0.0px solid;
    background-color: white;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 15px;
      font-size: 16px;
    font-weight: 400;
    
}

.myRoundButton af|button:hover::link {
    background-color: Red;
    border: Red 2.0px solid;
    color: White;
      font-size: 16px;
    font-weight: 400;
}
af|button {
    font-family: "Open Sans",sans-serif !important;
    text-align: center;
    vertical-align: middle;
 line-height: 20.16px;
    border: rgb(40, 115, 207) 0.0px solid;
   font-size: 16px;
    font-weight: 100;
  
 cursor: pointer;
}


 af|button::link {
  font-size: 15px;
  font-weight: 100;
  text-shadow: none;
    font-family: "Open Sans",sans-serif !important;
    min-width: 60px;
    height: 24px;
      letter-spacing: 1px;
    border: rgb(40, 115, 207) 0.0px solid;
     background-color: rgb(40, 115, 207);
        color: White;
 
  cursor: pointer;
  margin-left:2px;
}

 af|button::link:hover
{
 opacity: .7;
 font-size: 18px;
    font-weight: 400;
}


.mcbb1 af|button::text
{
text-decoration: none;
text-shadow: none;
}
.imagelink af|link {

 background :    #2B3643 !important;
}
.imagelink af|link::link {


}
.mbcLink1  {
    text-align: start;
    vertical-align: middle;
 border:0px thin solid  #364150;
    color: #B4BCC8;
    background :   #364150 !important;
     position: relative;
    /*font-family: Arial;*/

    height: 30px;
    width: 120px;

    
    
    font-family: Arial;
font-style: normal;
font-weight: 300;
font-size:14px;
line-height: 17.5px;


 background-color: transparent;
}

.mbcLink1 af|link::link {
    border: #364150 0.0px solid;
    background-color: Fuchsia;
    text-decoration:none;
}

.mbcLink1 af|link:hover::link {
cursor: text;
    background-color: Fuchsia;
    border: #364150 0.0px solid;
    color: Fuchsia;
      font: 10pt bold;
      text-decoration:none
}

.homediv
{
  background-color: Fuchsia;
}
.mm{
}
.mm:hover
{
   color: #f1f1f1;
background-color: #3E4B5C;
cursor: pointer;
}
.mm:visited
{

background-color: Red;
}

.sidef 
{
font-style: normal;
font-family: "Open Sans",sans-serif ;
font-weight: 300;
font-size:14px;
line-height: 19.99px;
padding-left: 4px;


 background-color: transparent;
   
    color: #b4bcc8;
   

}

.sidef2 
{
font-size: 14px;
font-weight: 300;
color: #555;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif ;
line-height: 18px;
font-style: normal;
padding-left: 4px;
   

}


.sidef1 
{
font-style: normal;
font-family: "Open Sans",sans-serif !important ;
font-weight: 300;
font-size:14px;
line-height: 19.99px;
text-shadow: none;
text-decoration: none;
display: block;
 background-color: transparent;
   
    color: white;
   

}
.sidef:hover 
{

   
    color: #f1f1f1;
   

}

.uuTemp 
{

font-family: sans-serif;
font-style: normal;
font-weight: 300;
font-size:14px;
line-height: 20px;


 background-color: transparent;
   
    color: #B4BCC8;;
   

}

.pgaename 
{
font-family: "Open Sans",sans-serif;
font-weight: 300;
font-size:24px;
-webkit-box-sizing: border-box;
margin-bottom: 10px;
line-height: 26.4px;

 background-color: transparent;
    color: #000;
   

}

.uuth 
{

font-family: Helvetica !important;
font-style: normal;
font-weight: 100;
font-size:18px;

line-height: 26px;



 background-color: transparent;
  
    color: white;
    

}
.pxn5 
{
font-family: "Open Sans",sans-serif !important;


font-weight: 100;

line-height: 45px;

font-size:26px;

 background-color: transparent;
  
    color: white;
    

}

.uut 
{
font-family: "Open Sans",sans-serif !important;


font-weight: 600 !important;

line-height: 45px;

font-size:14px !important;

 background-color: transparent;
  
    color: white;
    

}
.uum 
{
font-family: Helvetica !important;
font-style: normal;
font-weight: 100;
font-size:18px;

line-height: 26px;


 background-color: transparent;
  
    color: #5B6B97;
    

}

.uum2 
{
 background-color: transparent;
  
    color: #009862;
   font-family: Helvetica !important;
font-size: 42px;
font-weight: 100;

}

.uum3 
{
 background-color: transparent;
  
    color: #B57800;
    font-family: Helvetica !important;
font-size: 42px;
font-weight: 100;

}

.uum4 
{
 background-color: transparent;
  font-family: "Open Sans",sans-serif !important;
color: rgb(51, 51, 51);
     font-weight: 500;
font-size:14px;

}

.barsfont1 
{
  font-family: "Open Sans",sans-serif !important;
font-style: normal;
font-weight: 600;
font-size:18px;
color: #323435 !important;
line-height: 26px;
margin-left:40px !important;


 background-color: transparent;
  
    color: #566A6A;
    

}

.barsfont2 
{
font-family: Helvetica !important;
font-style: normal;
font-weight: 100;
font-size:14px;




 background-color: transparent;
  
    color: #566A6A;
    

}

.navot  {
font-family: "Open Sans",sans-serif !important;
font-style: normal;
font-weight: 300;
font-size:14px;
line-height: 15.4px;


 background-color: transparent;
  
    color: #708096;
    

}




.pxot1
{
font-family: Helvetica !important;
font-style: normal;
font-weight: 100;
font-size:18px;

line-height: 26px;


 background-color: transparent;
  
    color: #FFFFF4;
      


}


.pxot2
{
font-family: Helvetica !important;
font-size: 42px;
font-weight: 100;
line-height: 35px;


 background-color: transparent;
  
    color: #47BDEF;
      font: 30pt bold;


}


.pxot7
{
font-family: Helvetica !important;
font-size: 42px;
font-weight: 100;
line-height: 35px;


 background-color: transparent;
  
    color: #6594CE;
      font: 30pt bold;


}



.pxot4
{
font-family: Helvetica !important;
font-size: 42px;
font-weight: 100;



 background-color: transparent;
  
    color: #009862;
   


}

.pxot5
{
font-family: Helvetica !important;
font-size: 42px;
font-weight: 100;



 background-color: transparent;
  
    color: #B57800;
      font: 30pt bold;


}

.pxot6
{
font-family: "Open Sans",sans-serif !important;
font-weight: 700;
font-size:15px;



 background-color: transparent;
  
    color: white;
     


}
.px2otn1 
{
 background-color: transparent;
  font-family: "Open Sans",sans-serif !important;
    color: white;
     font-size: 26px;
     font-weight: 100;
     

}

.px1oth 
{
font-family: Helvetica !important;
font-style: normal;
font-weight: 100;
font-size:18px;
line-height: 25px;


    color: #5B6B70;
     

}


.px1ott 
{

font-family: "Open Sans",sans-serif !important;
font-size:14px !important;
font-weight: 500 !important;
line-height: 45px !important;






 background-color: transparent;
  
    
    color: rgb(51, 51, 51);
     

}


.px1otgn 
{
font-family: "Open Sans",sans-serif !important;
direction: ltr;
font-weight: 100;
font-size:26px;
line-height: 45px;



  
    color: #76B417;
     

}

.px1otbn 
{
font-family: "Open Sans",sans-serif !important;

font-weight: 100;
font-size:26px;
line-height: 45px;


 background-color: transparent;
  
    color: #0572CE;
      

}

.px1otrn 
{
font-family: "Open Sans",sans-serif !important;
font-style: normal;
font-weight: 100;
font-size:26px;
line-height: 45px;


 background-color: transparent;
  
    color: #FF0000;
     

}


.ii
{
 color: rgb(136, 136, 136);
 line-height: 19.99px;
font-family: "Open Sans",sans-serif !important;
      font-size: 14px ;
      font-weight: 400;
 
 background :   white !important;
}



ii::link {
    border: #364150 0.0px solid;
    background-color: white;
}


.otqa
{

 background-color: transparent;
  font-family: "Open Sans",sans-serif !important;
    color: #2F353B;
   font-size: 16px;
   font-weight: 700;    

}

.pxqaname
{
font-family: "Open Sans",sans-serif !important;
font-weight: 600;
font-size:14px;
line-height: 20px;
 background-color: transparent;
  
    color: #060606;
      

}

.pxqadesc
{
font-family: "Open Sans",sans-serif !important;
 background-color: transparent;
  
    color: #999b9b;
      font-size:14px;

}

.headerot
{
 background-color: transparent;
   font-family: "Open Sans",sans-serif !important;
    color: #B4BCC8;;
      font: 12pt bold;

}




.tileStyle1{
grid-row-align: center;
background-color:#FFFFFF;
border: #c6c6c6 1.0px solid;
box-shadow: 1px 2px 2px rgba(69,69,69,0.55);
width:200px;
height: 200px;
font-family: "Open Sans",sans-serif !important;
} 

.tileStyle2{
grid-row-align: center;
background-color:#3A76CB;
box-shadow: 1px 2px 2px rgba(69,69,69,0.55);
border: #3A76CB;
border-width: 2px; 
width:200px;
height: 200px;
font-family: "Open Sans",sans-serif !important;
} 


.tileStyle3{
grid-row-align: center;
box-shadow: 1px 2px 2px rgba(69,69,69,0.55);
background-color:#413557;
border: #413557;
border-width: 2px; 
width:200px;
height: 200px;
} 


.tileStyle4{
grid-row-align: center;
box-shadow: 1px 2px 2px rgba(69,69,69,0.55);
background-color:#E5E8EA;
border: #E5E8EA;
border-width: 2px; 
width:200px;
height: 200px;
font-family: "Open Sans",sans-serif !important;
} 


.tileStyle5{
grid-row-align: center;
box-shadow: 1px 2px 2px rgba(69,69,69,0.55);
background-color:rgb(116, 48, 126);
border: rgb(40, 115, 207);
border-width: 2px; 
width:200px;
height: 200px;
font-family: "Open Sans",sans-serif !important;
} 

.tileStyle6{
grid-row-align: center;
background-color: rgb(40, 115, 207);
border: rgb(40, 115, 207) 1.0px solid;
box-shadow: 1px 2px 2px rgba(69,69,69,0.55);
width:200px;
height: 200px;
font-family: "Open Sans",sans-serif !important;
} 

.tileStyle7{
grid-row-align: center;
background-color:#D5E8C8;
border: #D5E8C8 0.0px solid;
box-shadow: 1px 2px 2px rgba(69,69,69,0.55);
width:630px;
height: 200px;
font-family: "Open Sans",sans-serif !important;
cursor : pointer;
} 

.tileStyle8{
grid-row-align: center;
box-shadow: 1px 2px 2px rgba(69,69,69,0.55);
background-color:#414558 !important;
border: #413557;
border-width: 2px; 
width:200px;
height: 200px;
} 
.PersonImage {
  width:130px;
  height:130px;
  border:6px solid #FFF;
  box-shadow:0 0 2px rgba(0,0,0,0.4);
  border-radius:50% !important ;
  margin:4px;
}
.DashboardCardTitle{
font-size: 16px;
font-weight: bold;
display: inline-block;

color: #000000; 
margin-left:20px;
}
.sidediv
{

height: 100%;
}


.gnhover
{
}

.gnhover:hover
{
opacity: .3;
cursor: pointer;
}




af|column::column-header-cell-content {
  color: rgb(51, 51, 51);
    font-weight: 600;
    font-size: 14px;
    text-align: center !important;

 font-family: "Open Sans",sans-serif!important; 
  
  
    padding: 0px;
 
  /*min-height: 30px;*/
  
}


af|column::column-header-cell 
{
   
  border-right: 0px;
  border-left: 0px;
   border-bottom:  rgb(231, 236, 241)  .5px solid;
    border-top: rgb(231, 236, 241) 0.5px solid !important;
background-color: White;
}
af|column::column-footer-cell 
{
   
  border-right: 0px;
  border-left: 0px;
 
   border-bottom:  rgb(231, 236, 241)  .5px solid;
    border-top: rgb(231, 236, 241) 0.5px solid !important;
background-color: White;
}

/*af|column::column-header-cell:first-child
{
  
border-left: rgb(231, 236, 241) .5px solid;
}
*/

af|column::column-header-cell:last-child
{
  
border-right: rgb(231, 236, 241) 1px solid;
}
af|table {
border:none;

}

af|column::data-cell {
  color: rgb(51, 51, 51);
    /*border: Black solid thin;*/
    /*border: #e7e7e7  solid thin;*/
    background-color: white;
    text-align: center !important;
    border: none;
    font-size: 14px;
    line-height: 20px;
    font-family: "Open Sans",sans-serif!important; 
   
}

af|column::row-column-header-cell
{
    background-color: red !important;
}

/*af|table     td  
{
    
  border: rgb(231, 236, 241) 0px solid !important;
}*/

.AFTableCellDataVHGrid:alias {

margin-top: 20px;
border:none;
border-bottom:  rgb(231, 236, 241) 1px solid;
}

/*.AFTableCellDataVHGrid::after {*/

/*display:none !important;*/
/*}*/



af|table
{
border:rgb(231, 236, 241) 1px solid;
background-color: White;
}
af|panelCollection af|table
{

border:rgb(231, 236, 241) 1.5px solid;

width:100%;


}



/*af|column::row-header-cell {
    color: #0080c0;
     background-color: red !important;
    font-weight: bold;
}*/



af|table::data-row:highlighted af|column::data-cell, 
af|table::data-row:highlighted af|column::banded-data-cell {
  
    background-color: #c6c6c6;
}

af|table::data-row:selected:inactive af|column::data-cell,
af|column::data-cell:selected,
af|table::data-row:selected:busy,
af|column::data-cell:focus,
af|table::data-row:selected:focused af|column::banded-data-cell,
af|table::data-row:selected:focused af|column::data-cell,
af|table::data-row:selected af|column::data-cell {
 
    background-color:#f7f7f7;
}



af|table::navbar {
    background-color:White;
 
    /*border : rgb(51, 51, 51)  1px solid;*/
}

af|table::navbar-page-link {
   color: rgb(51, 51, 51);
    /*border :rgb(51, 51, 51)  .5px solid;*/
}

af|table::navbar-current-page {
    /*background-color: rgb(40, 115, 207);*/ 
     
}

af|table::navbar-page-input {
    background-color: transparent; 
     color: rgb(51, 51, 51);
    
}

af|table::navbar-page-input-label {
    color: rgb(51, 51, 51);
    font-weight: bold; 
   
    }

af|table::navbar-row-range-text {

    color: rgb(51, 51, 51);
    font-weight: bold; 
}

/*.x14c
{*/
/*display: none !important;*/
/*overflow-y: hidden !important ;*/
/*z-index: 1 !important;
}*/

af|inputText::content
{
/*background-image: url("../../active.jpg") !important;
background-position: 7px 7px;
    background-repeat: no-repeat;*/
font-family: "Open Sans",sans-serif!important; 

    background-color: white !important;
 font-size:15px;
      font-weight: 500;
    border-color: rgb(194, 202, 216)!important;
    width: 350px;
   height: 34px;
 color: #101010 !important;
}


af|inputText.disalbedtxt::content:read-only
{
/*background-image: url("../../active.jpg") !important;
background-position: 7px 7px;
    background-repeat: no-repeat;*/
font-family: "Open Sans",sans-serif!important; 

    background-color: white !important;
 font-size:15px;
      font-weight: 500;
    border-color: rgb(194, 202, 216)!important;
    width: 350px;
   height: 34px;
 color: #101010 !important;
 
}










af|inputText::label
{



   font-family: "Open Sans",sans-serif !important;
   color: rgb(51, 51,51) !important;

      font-size:14px;
      font-weight: 400;
      line-height: 19.99px;
      width: 132.62px;
  
   
}






 af|inputDate::content
{

color: #333 !important;
  font-family: "Open Sans",sans-serif;

    background-color: white !important;

    border-color: rgb(194, 202, 216)!important;
    width: 350px;
   height: 34px;
}



 af|inputDate::label
{


font-family: "Open Sans",sans-serif!important;
color: #333 !important;

      font-size:14px;
      font-weight: 400;
      line-height: 19.99px;
      width: 122.62px;
   
}





 af|selectOneChoice::content
{
margin-top: 5px;
font-family: "Open Sans",sans-serif!important;
color: rgb(85, 85, 85);
    background-color: transparent !important;
 font-size:14px;
      font-weight:100;
      line-height: 19.99px;
    border-color: rgb(194, 202, 216)!important;
    width: 350px;
   height: 32px;
   margin-top:5px !important;
 
  
}







af|selectOneChoice::label
{


font-family: "Open Sans",sans-serif!important;
   
color: #4f4f4f !important;

      font-size:14px;
      font-weight:100;
      line-height: 19.99px;
      width: 132.62px;
    padding-top:5px !important;
   
}




af|inputNumberSpinbox::content
{

font-family: "Open Sans",sans-serif;

    background-color: white !important;

    border-color: rgb(194, 202, 216)!important;
 
   height: 34px;
}

af|panelFormLayout  af|inputNumberSpinbox::content
{
   width: 300px !important;
   
  
}



af|inputNumberSpinbox::label
{


font-family: "Open Sans",sans-serif!important;
   
   color: #333;

      font-size:14px;
      font-weight: 400;
      line-height: 19.99px;
      width: 132.62px;
   
}




af|inputListOfValues::content
{
/*background-image: url("../../active.jpg") !important;
background-position: 7px 7px;
    background-repeat: no-repeat;*/
font-family: "Open Sans",sans-serif!important; 

    background-color: white !important;
 font-size:15px;
      font-weight: 500;
    border-color: rgb(194, 202, 216)!important;
    width: 330px;
   height: 34px;
 color: #101010 !important;
}



af|inputListOfValues::search-icon-style
{

   height: 34px;
    border-color: rgb(194, 202, 216)!important;
}









af|inputListOfValues::label
{



   font-family: "Open Sans",sans-serif !important;
   color: rgb(51, 51,51) !important;

      font-size:14px;
      font-weight: 400;
      line-height: 19.99px;
      width: 132.62px;

   
}


af|inputComboboxListOfValues::content
{
/*background-image: url("../../active.jpg") !important;
background-position: 7px 7px;
    background-repeat: no-repeat;*/
font-family: "Open Sans",sans-serif!important; 

    background-color: white !important;
 font-size:15px;
      font-weight: 500;
    border-color: rgb(194, 202, 216)!important;
    width: 325px;
   height: 34px;
 color: #101010 !important;
}

af|inputComboboxListOfValues::dropdown-icon-style
{
   height: 20px;
    border-color: rgb(194, 202, 216)!important;
}
af|inputComboboxListOfValues::label
{



   font-family: "Open Sans",sans-serif !important;
   color: rgb(51, 51,51) !important;

      font-size:14px;
      font-weight: 400;
      line-height: 19.99px;
      width: 132.62px;
  
   
}

af|inputFile::content
{

font-family: "Open Sans",sans-serif!important; 

    background-color: white !important;
 font-size:15px;
      font-weight: 500;
    border-color: rgb(194, 202, 216)!important;
    width: 350px;
   height: 34px;
 color: #101010 !important;
}


af|inputFile::label
{



   font-family: "Open Sans",sans-serif !important;
   color: rgb(51, 51,51) !important;

      font-size:14px;
      font-weight: 400;
      line-height: 19.99px;
      width: 132.62px;
  
   
}

af|selectOneRadio::item-text
{



   font-family: "Open Sans",sans-serif !important;
   color: rgb(51, 51,51) !important;

      font-size:14px;
      font-weight: 400;
      line-height: 19.99px;
     
  
   
}

af|selectBooleanCheckbox::item-text
{



   font-family: "Open Sans",sans-serif !important;
   color: rgb(51, 51,51) !important;

      font-size:14px;
      font-weight: 400;
      line-height: 19.99px;
     
  
   
}


.customRadioButtonCompx input[type="radio"] {
    display: inline-block;
    width: 20px;
    height: 20px;
  
    vertical-align: middle;
   
    cursor: pointer;
  
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
}

.customcheckboxCompx input[type="checkbox"] {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
   
    cursor: pointer;
  
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
}
.customRadioButtonComp input[type="radio"]:checked {
  
}


.panel_header_txt
{

font-family: "Open Sans",sans-serif;
font-size: 18px;
color:white;
line-height: 18px;
font-weight: 900;


}

.ico-down
{
cursor: pointer;
}

.ico-down:after
{
content: url("../../icons/portlet-collapse-icon-white.png");
}

.ico-down:hover:after
{
/*opacity: .8;*/
content: url("../../icons/portlet-collapse-icon.png");
/*content: url("../../icons/portlet-reload-icon.png");*/
}


.ico-up
{
cursor: pointer;
display: none ;
}

.ico-up:after
{
content: url("../../icons/portlet-expand-icon-white.png");
}

.ico-up:hover:after
{

content:url("../../icons/portlet-expand-icon.png");

}

.ico-config
{
cursor: pointer;
}

.ico-config:after
{
content: url("../../icons/portlet-config-icon-white.png");
}

.ico-config:hover:after
{

content: url("../../icons/portlet-config-icon.png");

}

.ico-reload
{
cursor: pointer;
}

.ico-reload:after
{
content: url("../../icons/portlet-reload-icon-white.png");
}

.ico-reload:hover:after
{

content: url("../../icons/portlet-reload-icon.png");

}



.ico-close
{
cursor: pointer;

}

.ico-close:after
{

/*content:url("../../icons/portlet-remove-icon-white.png");*/
content:'';
}

.ico-close:hover:after
{

content:url("../../icons/portlet-remove-icon.png");

}
   
.load_img {
/*background:url("../../spintablecircle.gif") ;*/
	/*background:url("../../icons/spinx1.gif") ;*/
        /*background: url("../../loading.gif") ;*/
        background: url("../../icons/blueLoader2.gif") ;
        background-size: 70px 70px;
    display: none;
    background-color: transparent;
    height: 70px;
    width: 70px; 
   position: absolute;
    top: 33%;
    left: 1%;
    right: 1%;
    margin: auto;
    background-repeat: no-repeat;
    z-index: 200 !important;
    opacity: 1 !important;
  
}

.load_img2 {
	background:url("../../icons/spinx1.gif") ;
        /*background: url("../../myloading.gif") ;*/
    display: none;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 33%;
    left: 1%;
    right: 1%;
    margin: auto;
    background-repeat: no-repeat;
  
}
.load_imgxx {
background:url("../../icons/spinx1.gif") ;
	/*background:url("../../insideloading.gif")   ;*/
        /*background: url("../../loading.gif") ;*/
    display: block;
    background-color: transparent;
    height: 100px;
    width: 100px; 
position: absolute;
   top: 0; left: 0; bottom: 0; right: 0;
   margin: auto;
   overflow: auto;
    background-repeat: no-repeat;
    z-index: 200 !important;
    opacity: 1 !important;
  
}

.fancyArrowNext
{
        background :  rgb(115,115,115) !important;
 height: 20px;
 position: relative;
 width: 100px;
        text-align: left;
         font: 10pt bold;
         color:white;
         border: thin solid rgb(99,99,99) ;
        

}

.fancyArrowNext:after
{
    content: ' ';
    height: 0px;
    width: 0px;
    border: 10px solid   rgb(82,82,82)    ;
    top: -1px;
    left: 85%;
    position: absolute;
    border-left-color: transparent ;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;

}

.selected {
   
   display:none;
    float: right;
    position: absolute;
    right: 0px;
    top: 8px;
    background: 0 0;
    width: 0px;
    height: 0px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #fff;
    
    
}

.selectedx {
   
  
    float: right;
    position: absolute;
    right: 10px;
    bottom: 100%;
    background: 0 0px;
    width: 0px;
    height: 0px;
  
     border-left: 8px solid transparent  ;
    border-top: 8px  solid transparent;
    border-bottom: 8px solid  White !important;
    border-right: 8px  solid  transparent;
    
    
}

.sidediv1 {

  width:240px;
}

.sidediv2 {
  display:block;
  width:50px;
  float:right;
}



            .myfloatdiv {
            position: fixed;
  top: 100px;
  right: 30px;
  width: 60px;
  height: 60px;
               border-radius: 50%;
                cursor: move;
                font-family: "Open Sans",sans-serif !important;
                z-index: 10 !important;
                 text-align: center;
                line-height: 55px;
                 font-size: 20px;
                background-color: rgb(40, 115, 207);
                color: #fff;
                background:rgb(40, 115, 207);
                display:none;
              
            }
.myfloatdiv:hover {
 background-color: #743371;;
}



.myfloatdiv ul

{
list-style: none;
}

.myfloatdiv a
{
text-decoration: none;
        
    color: white;
    display: block;
    cursor: move;

}

.overlayer2
{
height: 100% !important;
    width: 100%;
    position: fixed;
    z-index:106 !important;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
     overflow-x: hidden;
      
    transition: height 0.5s ;
    padding-top: 0px;
    opacity:.99;
}
.overlayer {
    height: 0px;
    width: 100%;
    position: fixed;
    z-index:106 !important;
    top: 0;
    left: 0;
    background-color: rgba(17,17,17,.8);
    overflow-x: hidden;
    
    transition: height 0.5s  !important ;
    
    padding-top: 0px;
    opacity:1;
     /*overflow-y:hidden !important;*/
}

.noscroll
{
overflow-y:hidden !important;
}

.overlayer  a {
  
    text-decoration: none;

    color: #818181;
  
    transition: 1s;
}

.overlayer a:hover {
    color: #f1f1f1;
}




.overlayer .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.overlayer2 .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
     text-decoration: none;

    color: #818181;
  
    transition: 1s;
}

.overlayer2 .closebtn:hover {
    color: #f1f1f1;
}

.Rnav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index:106 !important;
    top: 0;
    Right: 0;
    background-color: #21282E;
    overflow-x: hidden;
    transition: width .5s;
    padding-top: 0px;
    opacity:1;
   
}

.prnav {
    height: 0%;
    width: 200px;
    position: fixed;
    z-index:109 !important;
    top: 0;
    Left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: width .5s;
    padding-top: 0px;
    opacity:1;
 

    
   
}

.Rnav a {
  
    text-decoration: none;
    font-size: 30px;
    color: #b5b5b5 ;
    display: block;
    transition: 1s;
}

.Rnav a:hover {
    color: White;
}

.vv
{
    margin: 20%  44%;
    z-index:99 !important;
}
.vvx
{

margin-top:10%;
   background-color:white !important ;
    z-index:99 !important;
    padding:20px;
    margin-left:15%;
    margin-right:15%;
    
    
}
.dropdown {
    position: relative;
    display: block;
     min-width: 45px !important ;
}

.dropdown-content {
    display: none;
    top: 0%;
    left: 100% !important ;
  
    position: absolute;
    background-color:#2C3542 !important ;
    min-width: 200px !important ;
    box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.3);;
   z-index:99 !important;
}
.rsideH{
position: absolute;
top:16px;
right: 20px;
cursor: pointer;

}


.rsideC{
position: absolute;
top:300px;
right: 100px;

}
.dropdown-content-logout {
    display: none;
    top: 101%;
   margin-top: 6px;
  right: 0% !important ;
    position: absolute;
    background-color:White !important ;
    width: 200px;
   border: 1px solid #eee;
    box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.3);;
  z-index: 199 !important;
 
}

.dropdown-content-logout a {
  
   z-index: 199 !important;
}

.dropdown-content-logout li {
  
   z-index: 199 !important;
}


.dropdown-content a {

   z-index:99 !important;
}



.dropdown:hover .dropdown-content {
    display: block !important;
         z-index:99 !important;
}


.dropdown:hover .dropbtn {
    
}

.myGoUp {
  display: none;
  position: fixed;
  bottom: 35px;
  right: 1px;
  z-index:100 !important;
  opacity: .7;
  cursor: pointer;
  padding: 5px;
 
}

.myGoUp:hover {
 opacity: 1;
}


.col-container {
    display: table;
    width: 100%;
 
       
       
   
}
.col {
   display: table-cell;
   
       margin-top: 80px; 
       min-width: 240px;
    
}
.ooi
{

margin-left: 240px;
background:White;
width: 600px !important;
}
.headerxx1 {
   background-color:#2B3643;
   border:0px;
  height: 40px !important;
    text-align: center;
  z-index: 90 !important;
   
       position: fixed;
    top: 0;
  width:100%;
  
    
}
.footer {
   background:#364150;
    color: white;
    height: 20px;
  
}







.mmuu1 {
                position: relative;
                margin-right: 30px;
                margin-left: 30px;
                
            }

            .mmuu2 {
                position: relative;
                width: 100%;
                background-color: red;
                height: 30px;
                border: 1px red solid;
                 padding-left:5px;
            }

            .contentxx {
                width: 100%;
                height: 100%;
                border: 1px Gray solid;
                 background-color: white;
                position: relative;
                padding:5px;
               
               
            }
     
     
     .sidebar-menu2 {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-size: 14px;
   
     
}

.sidebar-menu2 > li {
    position: relative;
    margin: 0;
    padding: 0;
       
}

.sidebar-menu2 > li > a {
    padding: 12px 5px 12px 15px;
    display: block;
    border-left: 3px solid transparent;
    color: #b8c7ce;
    
    
}   

.sidebar-menu2 > li .label, .sidebar-menu > li .badge {
    margin-top: 3px;
    margin-right: 5px;
}

.sidebar-menu2 a {
    color: #b8c7ce;
    text-decoration: none;
     

   
}

.sidebar-menu2 > li:hover > a, .sidebar-menu2 > li.active > a {
    color: #fff;
    background: #e7e7e7 ;
   
}
        .loader {
 
  position: fixed;
  top: 40%;
  right: 40%;
  z-index: 100 !important;  
  opacity: .7;
  cursor: pointer;
  padding: 15px;
background:url("../../icons/blueLoader2.gif") no-repeat;
  width: 125px;
  height: 100px;
}   

.sublist
{


margin-top:5px;
margin-bottom:5px;


}


af|panelTabbed::tab.p_AFSelected  

{
  text-decoration:none !important;
 

border-right: 0px solid rgb(40, 115, 207) !important;
border-left: 0px solid rgb(40, 115, 207) !important;
border-left-style: none !important;
border-top: 0px solid red !important;
border-bottom: 3px solid rgb(40, 115, 207) !important;

}


af|panelTabbed::tab.p_AFSelected   a[aria-selected='true'] { 
  
  outline: 0pt white solid;

  

}


af|panelTabbed::tab  

{
border-left-style: none !important;
font-family: "Open Sans",sans-serif !important;
font-size: 14px;
line-height: 19.99px;

border-right: 0px solid rgb(40, 115, 207) !important;
border-left: 0px solid rgb(40, 115, 207) !important;
}


af|panelTabbed::tab:hover  

{


border-top: 0px solid rgb(40, 115, 207) !important;
border-bottom: 3px solid rgb(40, 115, 207) !important;

}
af|panelTabbed::tab  

{


border-top: 0px solid rgb(40, 115, 207) !important;
border-bottom: 3px solid transparent !important;

}
af|panelTabbed::tab af|panelTabbed::tab-text-link {
   border-bottom: 0px solid red !important;
   color:#737373 !important;
   font-size: 14px !important;
   font-weight: 700;
   font-family: "Open Sans",sans-serif !important;
     
 
}
af|panelTabbed::tab:hover af|panelTabbed::tab-text-link {
 
   color:#333 !important;
transition: none !important ;
     
 
}


 af|panelTabbed::tab a:hover {
   text-decoration:none !important;
   
}


af|panelTabbed::tab-content {
border-right: 0px solid rgb(40, 115, 207) !important;
border-left: 0px solid rgb(40, 115, 207) !important;
border-left-style: none !important;
   text-decoration:none !important;
   z-index: -1;
 
}

af|panelTabbed::body {
border-right: 0px solid rgb(40, 115, 207) !important;
border-left: 0px solid rgb(40, 115, 207) !important;
border-bottom: 0px solid rgb(40, 115, 207) !important;


 
}
 

.selectPage
{
   color: #fff;
    background: #3E4B5C;
}
 
af|dialog::content
{
 background-color: White;
 font-family: "Open Sans",sans-serif !important;
}


af|dialog::main
{
 background-color: White;
 font-family: "Open Sans",sans-serif !important;
}

af|dialog::footer-button
{
 background-color: White;

}

af|dialog::header , af|dialog::header-end , af|dialog::header-start
{
 background: rgb(40, 115, 207) !important;

}

af|dialog::title
{
color:white;
 font-family: "Open Sans",sans-serif !important;
              
                 font-size: 20px;
}

.overlayer af|button {
    font-family: "Open Sans",sans-serif !important;
    text-align: center;
    vertical-align: middle;
 line-height: 20.16px;
    border: rgb(40, 115, 207) 0.0px solid;
   font-size: 16px;
    font-weight: 100;
  
 cursor: pointer;
}

 .overlayer af|button::link {
  font-size: 15px;
  font-weight: 100;
  text-shadow: none;
    font-family: "Open Sans",sans-serif !important;
    min-width: 60px;
    height: 24px;
      letter-spacing: 1px;
    border: rgb(40, 115, 207) 0.0px solid;
     background-color: rgb(40, 115, 207);
        color: White;
 
  cursor: pointer;
  margin-left:2px;
}

 .overlayer af|button::link:hover
{
 opacity: .7 !important;
 
}

.overlayer .mbcbutton1 af|button {
    font-family: "Open Sans",sans-serif !important;
    text-align: center;
    vertical-align: middle;
 line-height: 20.16px;
    border: rgb(40, 115, 207) 0.0px solid;
   font-size: 16px;
    font-weight: 100;
  transition: all 0s;
 cursor: pointer;
}

 .overlayer .mbcbutton1 af|button::link {
  font-size: 15px;
  font-weight: 100;
  text-shadow: none;
    font-family: "Open Sans",sans-serif !important;
    min-width: 60px;
    height: 24px;
      letter-spacing: 1px;
    border: rgb(40, 115, 207) 0.0px solid;
     background-color: rgb(225, 229, 236) ;
        color:#636363;
 
  cursor: pointer;
  margin-left:2px;
}

 .overlayer .mbcbutton1 af|button::link:hover
{
 background-color:#636363;
       color:White;
 
}


.mbcheader
{
	background-color:rgb(40, 115, 207);padding-left:20px; margin-left:20px; margin-right:20px;
}

.mbcheader2
{
	background-color:rgb(40, 115, 207);
}

.decoractivBox
{
padding-left:20px; padding-right:20px; padding-top:0px; padding-bottom:20px;
}
#fileLoader
{
    display:none;
}

.tableH{
color: rgb(51, 51, 51);
font-size: 14px !important;
font-weight: 600 !important;
line-height: 19.99px;
font-family: "Open Sans",sans-serif !important;
margin-left:20%;margin-top:5px;


}

.tableD{
color: rgb(51, 51, 51);
font-size: 14px !important;
font-weight: 400 !important;
line-height: 19.99px;
font-family: "Open Sans",sans-serif !important;
margin-left:20%;margin-top:5px;


}
/*auto sugget*/

 .li1
      {
     color: rgb(51, 51, 51);
      font-family: "Open Sans",sans-serif !important;
      font-size: 14px;
       cursor:pointer;
       font-weight: 400;
       line-height: 20px;
       height: 25px;
       border-top: rgb(231, 236, 241) 1px solid;
       padding-top:10px;
       font-style: normal !important;
      }
      
      .li1:last-child
      {

       border-top: rgb(231, 236, 241) 1px solid;
      border-bottom: rgb(231, 236, 241) 1px solid;
      }
      
        .xxd
      {
     font-size:20px;
     
     
     color: rgb(51, 51, 51);
     margin-right:20px;
       margin-left:20px;
         margin-top:10px !important;
         margin-bottom:1px !important;
         
         /*border:#333333 1px solid;border-radius: 50%;padding:5px;*/
      }
      
          .xxd2
      {
     font-size:20px;
     
     
     color: #0572ce;
     margin-right:20px;
       margin-left:20px;
         margin-top:10px !important;
         margin-bottom:1px !important;
         
         /*border:#333333 1px solid;border-radius: 50%;padding:5px;*/
      }
      
     .selecteditembox
      {
      margin:5px;

        padding:10px !important;
      border-radius: 25px;
      min-width:20px;
      height: 20px;
      background: transparent ;
      display: inline-block;
        font-size:14px;
        font-weight: 500;
        border: #6b6d6f  1px solid;
   transition: 1s;
      }
      
       .selecteditembox:hover
      {
    
        border: rgb(40, 115, 207)  1px solid;
   
      }
      
      .selecteditemboxWarn
      
      {
       border: red  1px solid;
      }
      
      .closex
      
      {
      font-size:15px;
      padding:5px;
       border-radius: 50%;
      
      cursor: pointer;
    
     
      }
      
      .hidexx
      
      {
      
      display:none;
      }
      
 
      af|inputText.srchicon::content {
     
      
       width: 400px !important;
       height: 32px !important;
      
      
     background:url("../../searchico.png")  no-repeat right top !important   ;
          background-repeat: no-repeat;
    background-position: center right !important;
   
margin-bottom: 5px;
transition: all .5s;
      
      }
      
      
      af|inputText.srchicon::content:focus {
       width: 500px !important;
      }
      
       af|inputText.addicon::content {
      
       background: url("../../icons/portlet-collapse-icon.png") no-repeat right top !important  ; 
        background-repeat: no-repeat;
    background-position: center right !important;
    background-position-x: 97.0% !important;
    
       }
      
     .addicon input:-ms-input-placeholder
{
color: #adadad !important;
}
 
 af|inputText.searchiconp::content {
      
       background: url("../../icons/portlet-reload-icon.png")  no-repeat right top !important  ; 
        background-repeat: no-repeat;
    background-position: center right !important;
    background-position-x: 97.0% !important;
    
       }
 
      .searchiconp input:-ms-input-placeholder
{
color: #adadad !important;
}
      
 .txtlab
 {
 

 /*width:350px !important;*/
 width :40% !important;
 display: inline-block;
  font-style: normal !important;
 }
 
 .txtlabn
 {
 
 /*width:100px !important;*/
  width :20% !important;
 display: inline-block;
   font-style: normal !important;
 
 }
 
 .txtlabjf
 {
 /*width:150px !important;*/
  width :20% !important;
 display: inline-block;
  font-style: normal !important;
  white-space:nowrap;
  overflow:hidden;
  margin-left:10px !important;
  margin-right:10px !important;
 }
 
 .txtlabjt
 {
  width :20% !important;
 font-style: normal !important;

 
 }
 .txtlabjt2
 {
 font-style: normal !important;
  display: inline-block;
/*width:100px !important;*/
 width :10% !important;
 
 }
 
 .txtlabjf2
 {
 font-style: normal !important;
  display: inline-block;
/*width:220px !important;*/
 width :10% !important;
 
 }
 
 .notVisible {
 visibility: hidden;
 }
 
 .boldHeader
 {
 
 font-weight: 600;
 
 }
 
 .pointerClass
 
 {
 
 cursor: pointer;
 }
/*auto sugget*/ 


/* calender*/


af|calendar::day-header-row
{
/*font-size:500px !important;
font-weight: 900 !important;
color:red !important;*/
}

af|calendar::week-header-row
{
height: 50px;
}

af|calendar::week-header-cell:first-child
{


border-left:1px #e0e0e0 solid;
}
af|calendar::week-header-cell
{
font-size:25px !important;
font-weight: 100 !important;
color:#9e9e9e !important;
 font-family: "Open Sans",sans-serif !important;

border-right:1px #e0e0e0 solid;
}

af|calendar::week-header-cell:today
{

color:blue !important;
 font-family: "Open Sans",sans-serif !important;
}

af|calendar::week-header-day-link

{
color:red !important;


}
af|calendar::time-cell
{

border-right:1px #e0e0e0 solid;
}

af|calendar::time-text

{


}


af|calendar::week-vgrid

{
border-left:1px #e0e0e0 solid;

}

af|calendar::day-of-week:today
{

border:0px red solid;
/*background:Blue !important;*/

}

af|calendar::hgrid-major
{border-top:1px #e0e0e0 solid;

}

af|calendar::hgrid-minor
{
}

af|calendar::week-header-day-link
{

}

/*af|calendar::all-day-container 
{


overflow-y: hidden !important;
}*/
af|calendar::all-day-activity
{
/*background-color: red !important;
overflow-y: hidden !important;*/
}
af|calendar::all-day-container af|calendar::week-vgrid

{




border-left:0px red solid !important;

}

af|calendar::toolbar-display-range

{
font-weight: 100 !important;
color:#9e9e9e !important;
 font-family: "Open Sans",sans-serif !important;
}

af|calendar::time-activity-container ,af|calendar::all-day-activity

{
background-color: #039BE5 ;/*!important;*/
color: blue !important;
  border: 0px red solid;
  outline: 0px red solid !important;
}

af|calendar::all-day-activity:after
{
 content: ' '; 
   float: right;
    position: absolute;
    right: 0px;
  
   
    background: 0 0 ;
    width: 0px;
    height: 0px;
    border-top: 14px solid White;
    border-bottom: 14px solid White;
    border-left: 14px solid transparent;
    border-right: 14px   solid white;

   
}

.xpi
{
display: inline-block;
}
af|calendar::time-activity-grid-container
{
color: white !important;
}
af|calendar::time-activity-content ,af|calendar::time-activity-header,
af|calendar::all-day-activity-text , af|calendar::all-day-activity-text, af|calendar::all-day-activity-time
{
background-color: transparent !important;
color: white !important;
font-size:15px !important;
font-weight: 100 !important;
 font-family: "Open Sans",sans-serif !important;
}
af|calendar::week-header-day-link
{
font-size:22px !important;
font-weight: 100 !important;
color:#9e9e9e  ;
 font-family: "Open Sans",sans-serif !important;


}






.jtxx
{



width:100%;
height:60px;
background-color: rgb(40, 115, 207);
padding-top: 20px;
cursor:pointer;
 position: relative;
}

.jtxxtxt

{
margin-left: 20px;
font-size: 30px;
color: White;
}

.xxm 
{
border-top-left-radius: 50%;
border-top-right-radius: 50%;
  right: 0px !important ;
  top: -30px !important;
    position: absolute;
 font-size: 50px;

  background-color:rgb(40, 115, 207) !important ;
    width: 65px;
    height: 65px;

 
}

.icon-style1

{
color: white;
font-size: 26px;
margin-left:9px;
margin-bottom: 25px;
border:2px White solid;
border-radius: 50%;
padding:9px;
cursor:pointer;
transition: 1s;
}

.icon-style1:hover

{
color: #e0e0e0;
border:2px #e0e0e0  solid;
}


 .addcalbutton {
            position: fixed;
  bottom: 20px;
  right: 75px !important;
  width: 50px;
  height: 50px;
               border-radius: 50%;
                cursor: pointer;
                font-family: "Open Sans",sans-serif !important;
                z-index: 105 !important;
                 text-align: center;
                line-height: 55px;
                 font-size: 20px;
               
                color: #fff;
               
            background-color: #db4437;    
            display: none;
            }
.addcalbutton:hover {
 background-color: red;
}

.addcalbutton i
{
text-decoration: none;
      text-align: center;
    
    color: white;
    display: block;
    cursor: pointer;
    font-size:25px !important;
    margin-bottom: 3px !important;


}

af|calendar
{

border: 0px red solid !important;
}

  af|calendar af|button::link
  {

background-color: White !important;
color: #9e9e9e !important;
border:  red 0px solid !important;
outline: red 0px solid !important;
transition: 0s !important ;
  }
  
    af|calendar af|button
  {

background-color: White !important;
color: #9e9e9e !important;
border:  red 0px solid !important;
outline: red 0px solid !important;
transition: 0s !important ;
  }
  


  
  af|calendar af|button::link:active
  {
  background-color: #9e9e9e !important;
  }
  
af|calendar::toolbar-week-active-icon , af|calendar::toolbar-month-active-icon , af|calendar::toolbar-day-active-icon
{

/*content: url("../../icons/portlet-reload-icon.png");*/
content: url("../../icons/portlet-collapse-icon.png"); 
}

 .currtab 
{
border-left: rgb(40, 115, 207) 3px solid !important;
/*background: #2C3542;*/
}




/* end calnder*/

.customebtn {
font-family: "Open Sans",sans-serif !important;
  display: inline-block !important;
  border-radius: 30px;
  background-color: #4678AA;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 5px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
    font-weight: 100;
}

.customebtn .movexx {
font-family: "Open Sans",sans-serif !important;
  cursor: pointer;
  display: inline-block !important;
  position: relative;
  transition: 0.5s;

}

.customebtn .movexx:after {

  content: '\00bb';
  position: absolute;
  opacity: 0;
   left: 130px;
  top: 0;
  transition: 0.5s;
}

.customebtn:hover .movexx {
  padding-right: 25px;
 
}

.customebtn:hover .movexx:after {
  opacity: 1;
  right: 0;
    
}

.customebtnWithHover:hover

{

  opacity: .8;

}

.AFHVNodeTitleTextStyle
{
font-family: "Open Sans",sans-serif !important;
color:White;
margin-left:30px;
font-size: 25px;


}

.AFHVPanelCardTextStyle , .AFHVPanelCardLabelStyle
{
font-family: "Open Sans",sans-serif !important;
margin-left:5px;
font-size: 20px;
}

.rotatexx
{

 -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotatez(360deg); /* Standard syntax */
    transition:1s; 


}

.rotatexxReverse
{

 -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotatez(-360deg); /* Standard syntax */
    transition:1s; 


}

.div.pageHeaderDiv
{
    background-color:#000000;
    width:100%;
    height:100%;
}


.menue-item-backGround-color
{
background-color: rgb(40, 115, 207) !important;
}

.left-pointer
{
background-color:rgb(40, 115, 207) !important;
width:100%;
height:100%;
}

.splitButton {
    font-family: "Open Sans",sans-serif !important;
    text-align: center;
    vertical-align: middle;
 line-height: 20.16px;
    border: black 0.0px solid;
   font-size: 16px;
    font-weight: 100;
  background-color: black !important;
 cursor: pointer;
}


.myTable af|table::data-row:selected:inactive af|column::data-cell, .myTable af|column::data-cell:selected,  .myTable af|table::data-row:selected:busy,  .myTable af|column::data-cell:focus,  .myTable af|table::data-row:selected:focused af|column::banded-data-cell, .myTable  af|table::data-row:selected:focused af|column::data-cell, .myTable  af|table::data-row:selected af|column::data-cell {
    background-color: rgb(221, 227, 236) !important;
}

.myTable af|inputText:disabled::content
{
background-color: transparent !important;

}

/*
.bgTable af|table::data-row af|column::data-cell, .bgTable af|column::data-cell,  .bgTable af|table::data-row,  .bgTable af|column::data-cell,  .bgTable af|table::data-row af|column::banded-data-cell, .bgTable  af|table::data-row af|column::data-cell, .bgTable  af|table::data-row af|column::data-cell {
    background-color: #94CBD0 !important;

}*/

/*.border-css{
border-style: solid;
border-color: #2966C3;
}*/


 
.msg-error-details
    {
   color:#000;
    list-style: square ;
   text-align: left;
    }
    .msg-header
    {
    font-size:15px !important;
    font-weight: 500;
    margin-bottom: 0px;
    }
    .msg-error-details li
    {
    margin-left:10%;
    }
     .msg-error-details li span
     { position: relative;right:0px;color:red !important;font-size: 17px; }
     .msg-details
     {
     list-style: none;
     }
     .msg-details li span
    {
   position: relative;right:20px;color:#000;font-size: 25px;font-weight: 500;
    }
 
 
 
 .inputfrom1 af|inputText::content , .inputfrom1 af|inputDate::content , .inputfrom1 af|inputListOfValues::content ,
 .inputfrom1 af|selectOneChoice::content   , .inputfrom1 af|selectManyChoice::content
{

font-family: "Open Sans",sans-serif!important; 

    background-color: white !important;
font-size:15px;
      font-weight: 500;
    border: 0px rgb(194, 202, 216) solid!important;
    border-bottom: 3px rgb(194, 202, 216)    solid!important;
    width: 350px ;
   height: 33px !important;
color: #101010 !important;
padding-top:0px !important;
padding-bottom:10px !important;

}

af|inputDate:read-only::label
{
min-width: 350px!important;
   height: 30px !important;
   
}


.inputfrom1 af|inputText::content:focus , .inputfrom1 af|inputDate::content:focus ,
.inputfrom1 af|inputListOfValues::content:focus , .inputfrom1 af|selectOneChoice::content:focus, .inputfrom1 af|selectManyChoice::content:focus 
{

border-bottom: 3px rgb(40, 115, 207) solid!important;
outline: 0px transparent solid !important;
}

.inputfrom1 af|inputText::label , .inputfrom1 af|inputDate::label,.inputfrom1 af|inputListOfValues::label ,
.inputfrom1 af|selectOneChoice::label, .inputfrom1 af|selectManyChoice::label
{
padding-top:40px !important;
padding-bottom:0px !important;
font-weight: bold;
}



.inputfrom1 af|inputListOfValues::search-icon-style , .inputfrom1 af|selectManyChoice::dropdown-icon-style
{

   height: 44px;
   
    border: 0px transparent solid !important;
    margin-left:-20px;
    
}
 .inputfrom1 af|selectManyChoice::dropdown-icon-style
{
height: 4px;
width:0px;
margin-left:1px;
}

.inputfrom1 af|inputListOfValues::search-icon-style:disabled
{

   color:transparent !important;
   background-color: transparent !important;
   height: 44px;
    border: 0px transparent  solid !important;
    margin-left:-20px;
    
}
.inputfrom1 af|selectBooleanCheckbox::label ,.inputfrom1 af|selectOneRadio::label, .inputfrom1 af|selectManyChoice::label  
{
font-family: "Open Sans",sans-serif !important;
   color: rgb(51, 51,51) !important;

      font-size:14px;
      font-weight: 400;
      line-height:10px;
      font-weight: bold;
}

af|link:focus 
{
outline: 0px transparent  solid !important;
}

.deleteDist:before
{
font-family: 'FontAwesome';
content: "\f014";
font-size: 22px !important;
}

.delete:before
{
font-family: 'FontAwesome';
content: "\f014";
font-size: 22px !important;
}

.split:before
{
font-family: 'FontAwesome';
content: "\f0c9";
font-size: 22px !important;
}


.kff:before{
font-family: 'FontAwesome';
content: "\f233";
font-size: 22px !important;
}

.edit:before{
font-family: 'FontAwesome';
content: "\f040";
font-size: 22px !important;
}

.attach:before
{

font-family: 'simple-line-icons';
content: "\e093";
font-size: 22px !important;
}


.home:before
{
font-family: 'FontAwesome';
content: '\f015';
font-size: 25px !important;
color: white;
}

.tuo:before
{

font-family: 'FontAwesome';
content:'\f067';
font-size: 22px !important;
color:green;

}

.actionHistory:before
{

font-family: 'FontAwesome';
content:'\f1da';
font-size: 22px !important;
color:red;
}


.trv
{
height: 10px !important ;
}

.checkIcon:before
{
font-family: 'FontAwesome';
content:'\f00c';
font-size: 20px !important;

color: green;
border-radius: 50px;
}

.trs
{
width:40px;
height:40px;
background-color: gray;
border-color: Red !important ;
border-width: 10px !important ;
border-radius: 50% ;
text-align: center;
}

.closeIcon:before
{
font-family: 'FontAwesome';
content:'\f00d';
font-size: 20px !important;

color: red;
border-radius: 50px;
}

.pencilIcon:before
{
font-family: 'FontAwesome';
content:'\f040';
font-size: 20px !important;

color: gray;
border-radius: 50px;
}

.flagIcon:before
{
font-family: 'FontAwesome';
content: "\f024";
font-size: 20px !important;

color: orange;
border-radius: 50px;
}

.boltIcon:before
{
font-family: 'FontAwesome';
content: "\f0ec";
font-size: 20px !important;

color: #094c72;
border-radius: 50px;
}

.spinnerIcon:before
{
font-family: 'FontAwesome';
content: "\f128";
font-size: 20px !important;

color: orange;
border-radius: 50px;
}

.thumbsUpIcon:before
{
font-family: 'FontAwesome';
content: "\f164";
font-size: 20px !important;

color: brown;
border-radius: 50px;
}

.cloud-download:before
{
font-family: 'FontAwesome';
content:'\f0ec';
font-size: 30px !important;
}

.ReviewClass:before
{
font-family: 'FontAwesome';
content:'\f141';
font-size: 22px !important;
}


.xxjk
{
width: calc(100% - 40px) !important;

overflow-x: scroll;
}

.p_AFError af|inputText::content   ,    .p_AFError af|inputDate::content ,  .p_AFError af|inputListOfValues::content , .p_AFError af|selectOneChoice::content  
{
border-color: red !important ;
}
